// IMPORTS
@import "toolkit";
@import "fonts/firaSans"; 
@import "fonts/hindVadodara"; 

// VARIABLES
// fonts
$hv_l: "HindVadodara Light"; 
$hv_r: "HindVadodara Reg"; 
$hv_m: "HindVadodara Med"; 

// text
$dflt_lsp: 2.5px; 


$side-padding: 5%; 

body {

    // TOOLKIT OVERLAY
    #toolkit-showcase-1 {
        .showcase-close, 
        .showcase-caption {
            color: white; 
        }   

        .showcase-caption {
            font-family: $hv_m; 
            letter-spacing: 1px; 
        }
    }

    // HEADER + NAV
    header, 
    nav {
        padding: 0 $side-padding;     
    }

    // HEADER 
    header {
        background-color: white; 
        height: 100px; 
        font-family: $hv_r;
        letter-spacing: $dflt_lsp; 
        padding-top: 20px;
        box-shadow: 0 5px 10px 1px #DDD;

        h1 {
            color: #F89406;
        }
    }

    // NAV
    nav {

        margin: 50px 0 25px 0; 

        p {
            display: inline-block; 
            text-transform: uppercase;
            font-family: $hv_r; 
            letter-spacing: $dflt_lsp - 1; 
            margin-right: 20px; 
            font-size: 17px;
            color: #999;
        }

        .custom-input .select {
            border-radius: 0; 
            border: none; 
        }

        // dropdown and it's contents
        .select, 
        .select + .drop a {
            font-family: $hv_l;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: none; 
            color: #6C7A89;
        }

        .select-label {
            color: #F89406;
            font-family: $hv_m;
        }

        select {
            color: #ABB7B7; 
        }

        .select + .drop a:hover {
            background-color: #F89406;
        }

        .drop {
            background-color: #ECF0F1; 
            padding: 5px; 
        }
    }

    .grid {

        max-width: 90%; 
        margin: 0 auto; 

        .comps {
            height: 150px; 
            overflow: hidden;

            img {
                max-width: 100%; 
                height: auto; 
                display: block;
            }
        }
    }

    footer {
        background-color: #eee; 
        height: 50px; 
        text-align: center; 
        position: absolute; 
        width: 100%; 
        bottom: 0;

        p {
            opacity: 0.7;
            letter-spacing: $dflt_lsp; 
            font-family: $hv_l; 
            color: #999;
        }
    }
}


