// IMPORTS
@import "toolkit";
@import "fonts/proximaNova"; 
@import "fonts/hindVadodara"; 

// VARIABLES
// fonts
$hv_l: "HindVadodara Light"; 
$hv_r: "HindVadodara Reg"; 
$hv_m: "HindVadodara Med"; 

$pn_l: "ProximaNova Light"; 
$pn_r: "ProximaNova Reg"; 
$pn_sb: "ProximaNova SemiBold"; 
$pn_tn: "ProximaNova Thin"; 

// text
$dflt_lsp: 2.5px; 


// box model
$side-padding: 5%; 
$dflt_mg_b: 1.78571%;
//1.78571%;

// colors
$blue: #4285f4; 
$grey: #787878; 

body {

    padding: 10% 25% 0px;

    // TOOLKIT OVERLAY
    #toolkit-showcase-1 {
        .showcase-close, 
        .showcase-caption {
            color: white; 
        }   

        .showcase-caption {
            font-family: $hv_m; 
            letter-spacing: 1px; 
        }
    }

    // Header
    header {
        position: relative;
        height: 150px;
        text-transform: uppercase;
        letter-spacing: 0.15em; 

        h1 {
            color: $grey; 
            float: left;
            font-family: $pn_l;
        }

        nav {
            float: right;
            width: auto; 

            .custom-input {
                top: 8px; 
                clear: both;
                color: $blue;
                font-family: $pn_r;


                .select {
                    background: none;
                    border: none;
                    border-radius: 0;
                }

                .drop {
                    padding: 5px; 
                    width: 20em;
                    background-color: white;

                    a {
                        text-decoration: none;
                        color: $grey; 
                    }

                    a:hover {
                        background-color: $blue;
                        color: white;
                    }

                }

                .select-arrow .caret-down {
                    border-top-color: $blue;
                }
            }
        }
    }

    // The Image Grid
    .grid {
        margin: 0 auto; 

        .comps {
            height: 300px; 
            overflow: hidden;
            margin-bottom: $dflt_mg_b;

            img {
                max-width: 100%; 
                height: auto; 
                display: block;
            }
        }
    }
}


// media queries
// the margin left fucks up the layout so we have to remove it and even it out
@media ( max-width: 965px ) {
    // HAVE TO CHANGE THE .comps HEIGHT WHEN THE DISPLAY IS LESS THAN 1036px! 
    
//    .comps {
//        margin-left: 0 !important;
//    }
}

@media ( min-width: 965px ) {
//
//    .comps:nth-child(odd) {
//        margin-left: 0 !important;
//    }
//    .comps:nth-child(even) {
//        margin-left: $dflt_mg_b !important;
//    }
}