// IMPORTS
@import "toolkit";
@import "fonts/proximaNova"; 
@import "fonts/hindVadodara"; 

// VARIABLES
// fonts
$hv_l: "HindVadodara Light"; 
$hv_r: "HindVadodara Reg"; 
$hv_m: "HindVadodara Med"; 

$pn_l: "ProximaNova Light"; 
$pn_r: "ProximaNova Reg"; 
$pn_b: "ProximaNova Med"; 

// text
$dflt_lsp: 2.5px; 


// box model
$side-padding: 5%; 
$dflt_mg_b: 1.78571%;
//1.78571%;

// colors
$blue: #4285f4; 
$grey: #787878; 

body {

    padding: 10% 25% 0px;

    // TOOLKIT OVERLAY
    #toolkit-showcase-1 {
        .showcase-close, 
        .showcase-caption {
            color: white; 
        }   

        .showcase-caption {
            font-family: $hv_m; 
            letter-spacing: 1px; 
        }
    }

    // Header
    header {
        position: relative;
        height: 150px;
        text-transform: uppercase;
        letter-spacing: 0.15em; 

        h1 {
            color: $grey; 
            float: left;
            font-family: $pn_l;
        }

        nav {
            float: right;

            p {
                margin-top: 1.8em;
                color: $blue;
                font-family: $pn_r;
            }
        }
    }

    // The Image Grid
    .grid {
        display: none;
    }
}